/.bundle/
/coverage/

/spec/internal/db/*.sqlite3
/spec/internal/db/*.sqlite3-journal
/spec/internal/db/*.sqlite
/spec/internal/db/*.sqlite-journal
/spec/internal/log/*.log

Gemfile.lock
/gemfiles/*.gemfile.lock
